<div class="welcome">
  <h1>Welcome to Philly Grid</h1>
  <h3>In the city of neighborhoods & brotherly love, there's something for everyone</h3>
</div>

<p>Let's get you home! Explore Philadelphia & join more than (##) happy renters searching (##) local apartments</p>
