
<div class="landing">
  <h1><span class="logo-small">Welcome to</span> | <span class="logo-big">Philly Grid</span></h1>
  <p>Let's get you home! Explore Philadelphia & join more than (##) happy renters searching (##) local apartments</p>
</div>
