
<div class="landing">
  <h1 class="cover-text"><span class="logo-small">Welcome to</span> | <span class="logo-big">Philly Grid</span></h1>
  <p class="cover-text cover-text-p">Let's get you home! Join our vibrant community of Philadelphians planning their next move.<br /> In the city of neighborhoods & brotherly love, there's something for everybody.</p>
</div>
