<div class="welcome">
  <h1>Welcome to Philly Grid</h1>
  <h3>In the city of neighborhoods & brotherly love, there's something for everyone</h3>
</div>

<p>Let's get you home! Explore Philadelphia's neighborhoods & join more than (##) happy renters searching (##) local apartments</p>

<div class="footer">
  <ul class="footer-list">
    <li> &copy 2018 Philly Grid </li>
    <li><a href="#"> Terms </a></li>
    <li><a href="#"> Privacy </a></li>
</div>
