// all the styles related to the home controller here.

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #FEFCFC;
}

.landing {
  position: absolute;
  margin-left: 20%;
  margin-top: 10%;
}

section {
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}

.header {
  background-color: #40404c;
  color: #FEFCFC;
  border-bottom: 2.5px solid #ffa5a5;
  border-top: 2.5px solid #ffa5a5;
}

nav {
  width: 100vw;
}

.border-right {
  padding-right: 15px;
  border-right: 1px solid #ffa5a5;
}

.main-background {
  background-image: url("front-doors.jpg");
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

h1, h2, h3 {
  font-family: 'PT Serif', serif;
  color: #40404c;
}

.logo-big {
  font-size: 125px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffa5a5;
}

.logo-small {
  font-size: 18px;
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  display: inline;
  margin: 0 5px;
}

.nav-list li a {
  text-decoration: none;
}

.nav-list li a:hover {
  color: #ffa5a5;
}

.yield-content {
  width: 100vw;
  height:650px;
}

.thanks-list {
  list-style-type: none;
}

.float-container {
  display: flex;
  flex-direction: row;
  background-color: #ffa5a5;
  border-top: 2.5px solid #40404c;
}

.float {
  width: 250px;
  height: 250px;
  margin: auto;
}

div.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-height: 250px;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #40404c;
  color: #FEFCFC;
  border-top: 2.5px solid #FEFCFC;
}

ul.footer-list, ul.footer-list3 {
  list-style-type: none;
  align-self: center;
  flex-grow: 1;
}

.footer-list li {
  display: inline;
}

.footer-list li a {
  text-decoration: none;
}

.footer-list li a:hover {
  color: #ffa5a5;
}

.footer-list3 li {
  display: inline;
}

.footer-list3 li a {
  text-decoration: none;
}

img.sm-icons {
  width: 30px;
  float: left;
  margin: 15px;
  padding: 3.5px;
  background-color: #ffa5a5;
  border-radius: 10%;
}

img.thanks-icons {
  width: 125px;
}
