// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-background {
    background-image: none;
    padding-left: 1em;
    padding-right: 0;
}

.results {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    h1 {
        grid-column: 1/3;
    }
}

.property-data {
    grid-column: 1;
}

.hood-data {
    grid-column: 2;
}

.comp-data {
    // display: flex;
    grid-column: 3;

}


