
  <h2 class="browse">Browse Neighborhoods & Available Apartments</h2>
  <main id="map" class="map main">
    <script>

      var vectorSource = new ol.source.Vector({
        url: 'https://raw.githubusercontent.com/azavea/geo-data/master/Neighborhoods_Philadelphia/Neighborhoods_Philadelphia.geojson',
        format: new ol.format.GeoJSON()
      });

      var vectorLayer = new ol.layer.Vector({
            source: vectorSource
          });

      var map = new ol.Map({
          target: 'map',
          layers: [
              new ol.layer.Tile({
                  source: new ol.source.OSM()
              }),
              vectorLayer
          ],
          view: new ol.View({
              center: ol.proj.fromLonLat([-75.166923, 39.955948]),
              zoom: 13
          })
      });

      var geojsonObject = <%= @response.html_safe %>;

    </script>
  </main>

  <aside class="panel">
    <div class="row">
      <h3> Apartments in Philadelphia </h3>
      <p> Apartment Listing: </p>
      <p> Description: </p>
      <p> Et Cetera </p>
    </div>
    <div class="row">
      <h3> Neighborhood Profile </h3>
      <p> Neighborhood Name: </p>
      <p> Description: </p>
      <p> Highlights: </p>
    </div>
</aside>
