<div class="landing">
<div class="mission">
	<p>Philly Grid was conceived as an apartment search web application that could enable users to obtain detailed information about the neighborhood surrounding their prospective home. In one week, our team learned to use the OpenLayers JavaScript library to work with five different APIs, and we built a multi-layered map interface. Users can toggle each layer to view the boundaries of any neighborhood in Philly, along with the distributions of three resources relevant to apartment shoppers: affordable housing, housing counseling, and parks throughout the city.</p>

<p>Users can also click to select an individual element from any layer and view details from its API such as the name and full address of an organization.
</p>
</div>
</div>